*.pyc
*.bak
*.pkl
*.txt
*.log
*.sh~
*.yml
*.yaml
*.json
*.png
*.jpb
*.bmp
*.stackdump
*.pdf
__pycache__
_res
*.h5
*.hdf5
*.copy
.vscode/
.idea/
_code_stubs/
doc/_build/
build/
dist/
_weights/
*.egg-info/
.ipynb_checkpoints
*.ipynb
