*.pyc
*.bak
*.pkl
*.txt
*.log
*.sh~
*.yml
*.yaml
*.json
*.pem
*.key
*.pub
*.stackdump
*.pdf
__pycache__
_res
*.h5
*.hdf5
*.copy
.vscode/
.idea/
_code_stubs/
doc/_build/
build/
dist/
_weights/
pyBack.egg-info/
.ipynb_checkpoints
